<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos Pandora</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../assets/imgg/yagmoour.png">  <!-- LOGO -->

</head>
<body>
<center>
<header>
   <h1 class="italica">¿En que podemos ayudarte?</h1>
    <nav class="navegacion">
        <ul class="menu">
            <li><a href="../index.html">INICIO</a></li> 
            <li><a href="contactos.html">CONTACTOS</a></li> 
            <li><a href="ubicacion.html">UBICACIÓN</a></li> 
            <li><a href="accesorios.html">ACCESORIOS</a></li>
            <li><a href="hombres.html">HOMBRES</a></li>
            <li><a href="mujeres.html">MUJERES</a></li>
        </ul>
    </nav>
</header>
</center>
<form action="">
    <h2 class="center">CONTACTO</h2>
    <input type="text" name="Nombre" placeholder="Nombre">
    <input type="email" id="email" name="correo" placeholder="Correo">
    <input type="number" name="telefeno" placeholder="Telefono">
    <textarea name="mensaje" id="" cols="30" rows="10" placeholder="escriba aqui su mensaje"></textarea>
    <input type="button" value="Enviar" id="boton">

</form>    
    <footer class="footer"> 
        <div class="content">
            <h4>CONTACTANOS POR NUESTRAS REDES</h4>
            Felipe Gomez <br>
                <a href="mailto:pandora@deemail.com" class="mail">Email:pandora@gmail.com.ar</a> <br>
                <u> Telefono:203237558 </u> <br>     
            <div class="pie">
                <a href="https://www.instagram.com/?hl=es-la"><img src="../assets/imgg/instagram.png" alt="Instagram"width="30" height="30" id="foto"></a>
                <a href="https://es-la.facebook.com/login/device-based/regular/login/"><img src="../assets/imgg/facebook.png" alt="Facebook"width="30" height="30" id="foto"></a>
                <a href="mailto:pandora@deemail.com"><img src="../assets/imgg/Gmail.png" alt="Email"width="30" height="30" id="foto"></a> 
            </div>  
        </div>  
    </footer>
</body>
</html>